*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#050505;

    font-family:Poppins,sans-serif;

}

body::before{

    content:"";

    position:fixed;

    inset:0;

    background:
    radial-gradient(circle,#00ff8825,transparent 60%);

    z-index:-1;

}

.login-box{

    width:380px;

    background:#111;

    border:2px solid #00ff88;

    border-radius:20px;

    padding:35px;

    text-align:center;

    box-shadow:

    0 0 20px #00ff88;

}

.login-box h1{

    color:#00ff88;

    font-family:Orbitron,sans-serif;

    margin-bottom:25px;

}

.login-box input{

    width:100%;

    padding:14px;

    margin:10px 0;

    border:none;

    outline:none;

    border-radius:10px;

    background:#1b1b1b;

    color:white;

}

.login-box input:focus{

    box-shadow:0 0 10px #00ff88;

}

.login-box button{

    width:100%;

    padding:14px;

    margin-top:15px;

    border:none;

    border-radius:10px;

    background:#00ff88;

    color:#000;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.login-box button:hover{

    transform:scale(1.03);

    box-shadow:0 0 20px #00ff88;

}

#message{

    margin-top:15px;

    color:white;

}
