*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    min-height:100vh;
    background:#0d1117;
    color:#fff;
}

.sidebar{
    width:250px;
    background:#161b22;
    padding:20px;
    border-right:2px solid #00ff88;
}

.sidebar h2{
    color:#00ff88;
    text-align:center;
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:15px;
    margin:10px 0;
    background:#1f2937;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.sidebar ul li:hover{
    background:#00ff88;
    color:#000;
}

.sidebar button{
    width:100%;
    padding:12px;
    margin-top:30px;
    border:none;
    border-radius:10px;
    background:#00ff88;
    color:#000;
    font-weight:bold;
    cursor:pointer;
}.main{
    flex:1;
    padding:30px;
}

.main h1{
    color:#00ff88;
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:#161b22;
    border:2px solid #00ff88;
    border-radius:15px;
    padding:25px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,255,136,.3);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 25px rgba(0,255,136,.8);
}

.card h2{
    margin-bottom:15px;
    color:#fff;
}

.card p{
    font-size:32px;
    font-weight:bold;
    color:#00ff88;
}
