*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(-45deg,#0f0f0f,#1b1b1b,#003300,#001a00);
    background-size:400% 400%;
    animation:bg 12s ease infinite;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

@keyframes bg{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.container{
    width:350px;
    text-align:center;
}

.profile{
    width:120px;
    height:120px;
    border-radius:50%;
    border:4px solid #00ff88;
    margin-bottom:20px;
    box-shadow:0 0 25px #00ff88;
}

h1{
    color:#00ff88;
    text-shadow:0 0 15px #00ff88;
    margin-bottom:10px;
}

.bio{
    color:#ccc;
    margin-bottom:25px;
}

.card{
    display:block;
    text-decoration:none;
    color:white;
    padding:18px;
    margin:15px 0;
    border-radius:18px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.15);
    transition:.3s;
    font-size:18px;
    font-weight:bold;
}

.card:hover{
    transform:translateY(-5px) scale(1.03);
    background:#00ff88;
    color:black;
    box-shadow:0 0 25px #00ff88;
}

.footer{
    margin-top:30px;
    color:#ddd;
}
